{
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "rules": {
    "comma-dangle": [0],
    "quotes": [0],
    "strict": [0],
    "no-unused-vars": [0],
    "no-undef-init": [0],
    "eqeqeq": [0],
    "new-oap": [0],
    "no-underscore-dangle": [0],
    "no-multi-spaces": [0],
    "no-process-exit": [0],
    "no-wrap-func": [0],
    "eol-last": [0],
    "no-alert": [0],
    "dot-notation": [0],
    "no-use-before-define": [2, "nofunc"],
    "semi": [2, "always"],
    "no-extra-semi": [2],
    "new-cap": [0],
    "no-shadow": [0]
  }
}
