{
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "rules": {
    "comma-dangle": false,
    "quotes": false,
    "strict": false,
    "no-unused-vars": false,
    "no-undef-init": false,
    "eqeqeq": false,
    "new-cap": false,
    "no-underscore-dangle": false,
    "no-multi-spaces": false,
    "no-process-exit": false,
    "no-wrap-func": false,
    "eol-last": [0],
    "no-alert": [0],
    "dot-notation": [0],
    "no-use-before-define": [2, "nofunc"]
  }
}
