# EXACT --------------------------------------------------------------------------------------------
/build/
/docs/
/logs/
/node_modules/
/static/vendors/

# BY MASK ------------------------------------------------------------------------------------------
/fabfile*
/test*
*.iml
.idea
.DS_Store
