# EXACT --------------------------------------------------------------------------------------------
/docs/
/logs/
/node_modules/
/assets/vendors/

# BY MASK ------------------------------------------------------------------------------------------
/fabfile*
/test*
*.iml
.idea
.DS_Store
