# EXACT --------------------------------------------------------------------------------------------
/build/
/docs/
/logs/
/node_modules/
/shared/config/development.js

# BY MASK ------------------------------------------------------------------------------------------
/fabfile*
*.iml
.idea
.DS_Store
