<section class="page robot index">
  <h2>Collection demo</h2>

  <p>Intelligently rendering collections can be a bit tricky.</p>

  <p>
    <a href="https://github.com/ampersandjs/ampersand-view">ampersand-view's</a>
    <code>renderCollection()</code> method makes it simple.
  </p>

  <h3>Robots container</h3>
  <ul class="list-group" data-hook="robot-index"></ul>

  <p>Try it by clicking the buttons</p>

  <div class="buttons btn-group">
    <button class="btn btn-default" data-hook="reset">Reset Collection</button>
    <button class="btn btn-default" data-hook="remove">Remove Collection</button>
    <button class="btn btn-default" data-hook="shuffle">Shuffle Collection</button>
    <button class="btn btn-default" data-hook="fetch">Refetch Collection</button>
    <button class="btn btn-default" data-hook="add">Add Random</button>
    <a class="btn btn-default" href="/robots/add">Add Robot</a>
  </div>

  <p>Events are always managed so you don't get any leaks.</p>
</section>
