/*******************************************************************************
  THEME. LAYOUT
*******************************************************************************/


/*
 Sticky footer styles
*/
html {
  position: relative;
  min-height: 100%;
}
body {
  padding-bottom: @footer-height;
}
#page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: @footer-height;
}

#page-header {
}
#page-main {
}

#page-footer {
}
