<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ seotitle }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.gif" type="image/gif">
  <link rel="stylesheet" href="/static/vendors/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/styles/http-errors.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400' rel='stylesheet' type='text/css'>
</head>
<body>
  {% include "ask-user-to-update-ie.html" %}
  <div class="container">
    {% block container %}{% endblock %}
  </div>
  {% include "counters.html" %}
</body>
</html>

