{% extends "errors/base.html" %}

{% set seotitle = "404 Page not found" %}

{% block container %}
  <h1>Page not found</h1>
  <p>Keep inner peace.</p>
  <p>Perhaps it was the result of either:</p>
  <ul>
    <li>a mistyped address</li>
    <li>an outdated link</li>
  </ul>
  <script>
    var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2);
    var GOOG_FIXURL_SITE = location.host;
  </script>
  <script src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
{% endblock %}
