{% extends "errors/base.html" %}

{% set seotitle = "410 Page was deleted" %}

{% block container %}
  <div class="row nomargin-left nomargin-right">
    <div class="col-sm-12 col-lg-6">
      <div id="http-error-descr">
        <h1 id="http-error-heading">Page was deleted</h1>
        <p>Keep inner peace.</p>
        <p>This page no longer exists on our site. Sorry!</p>
        <script>
          var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2);
          var GOOG_FIXURL_SITE = location.host;
        </script>
        <script src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6">
      {% include 'errors/mascotte/going.html' %}
    </div>
  </div>
{% endblock %}
