{% extends "errors/base.html" %}

{% set seotitle = "503 Service unavailable" %}

{% block container %}
  <div class="row nomargin-left nomargin-right">
    <div class="col-sm-12 col-lg-7">
      <div id="http-error-descr">
        <h1 id="http-error-heading">Site is under update!</h1>
        <p>All form submits are blocked.</p>
        <p>We apologize, but this is required to update the site correctly.</p>
        <p>Normally, it will take a several minutes to finish the process.</p>
        <p>Please, try again later!</p>
      </div>
    </div>
    <div class="col-sm-12 col-lg-5">
      {% include 'errors/mascotte/going.html' %}
    </div>
  </div>
{% endblock %}
