{% extends "base.html" %}

{% block head %}
  <title>Choosing a chart library</title>
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="/assets/vendors/vis/dist/vis.min.css"/>
{% endblock %}

{% block body %}
  <div class="ui grid">
    <div class="two columns row">
      <div class="column">
        <div id="vis-lines" style="background-color: white"></div>
        <br/>
        <div id="vis-columns" style="background-color: white"></div>
        <br/>
        <div id="vis-bars" style="background-color: white"></div>
      </div>
      <div class="column">
        <div id="hc-lines"></div>
        <br/>
        <div id="hc-columns"></div>
        <br/>
        <div id="hc-bars"></div>
      </div>
    </div>
  </div>

  {% include "chartlib/vis.html" %}

  {% include "chartlib/hc.html" %}
{% endblock %}

{% block scripts %}
  <script src="/assets/vendors/vis/dist/vis.js"></script>
  <script src="/assets/vendors/highcharts/highcharts.js"></script>
{% endblock %}
