.notifications {
  position: fixed;
  z-index: 9999;
}

/* Positioning */
.notifications.top-right {
  right: 10px;
  top: 25px;
}

.notifications.top-left {
  left: 10px;
  top: 25px;
}

.notifications.bottom-left {
  left: 10px;
  bottom: 25px;
}

.notifications.bottom-right {
  right: 10px;
  bottom: 25px;
}

/* Notification Element */
.notifications > div {
  position: relative;
  margin: 5px 0px;
}

.fade-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}

.alert-as-icon {
  @size: 12em;
  margin: 0 auto;
  color: @gray-light;
  font-size: @size;
  text-align: center;
  @media (max-width: @screen-sm-min) {
      font-size: @size * 0.75;
  }
  @media (max-width: @screen-xs-min) {
      font-size: @size * 0.5;
  }
  &.loading-lg {
      @size: 15em;
      font-size: @size;
  }
  &.loading-sm {
      @size: 8em;
      font-size: @size;
  }
  &.loading-xs {
      @size: 5em;
      font-size: @size;
  }
  &.fa-stack {
    display: block;
  }
}
