/*******************************************************************************
  THEME. MODULES. NAV
*******************************************************************************/
.navbar-default {
  border-radius: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  .navbar-toggle {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    border: 0;
    background-color: transparent!important;
  }
  .navbar-collapse.collapse.in {
    overflow-y: auto;
  }
}
