{% extends "base.html" %}

{% block head %}
  {{ super() }}

  <link href="//robohash.org" rel="dns-prefetch"/>
{% endblock %}

{% block body %}
  <main id="app">
    <div class="gear lg">
      <i class="fa fa-cog fa-spin"></i>
    </div>
  </main>
{% endblock %}

{% block styles %}
  <link href="http://localhost:2992/public/bundle.css" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script src="http://localhost:2992/public/vendors.js"></script>
  <script src="http://localhost:2992/public/bundle.js"></script>
{% endblock %}
