<!DOCTYPE html>
<html>
<head>
  {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
  {% endblock %}

  {% block styles %}
    <link rel="stylesheet" href="/static/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/styles/bundle.css"/>
  {% endblock %}
</head>
<body>
  {% block body %}
  {% endblock %}

  {% block scripts %}
    <script src="/static/vendors/jquery/dist/jquery.min.js"></script>
    <script src="/static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  {% endblock %}

{#  <script async="" src="//localhost:3000/browser-sync/browser-sync-client.1.9.0.js"></script>#}
</body>
</html>
