{% extends "base.html" %}

{% block head %}
  <title>Choosing a chart library</title>
  <link rel="stylesheet" href="/assets/vendors/vis/dist/vis.min.css"/>
  <link rel="stylesheet" href="/assets/vendors/semantic-ui/semantic.min.css"/>
{% endblock %}

{% block body %}
  <script src="/assets/vendors/jquery/dist/jquery.min.js"></script>
  <script src="/assets/vendors/semantic-ui/semantic.min.js"></script>

  {% include "charts/intro.md" %}
  {% include "charts/review.html" %}
  {% include "charts/charts.html" %}
  {% include "charts/outro.md" %}
{% endblock %}
